.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.definitionText {
  width: 600px;
}

.formItem {
  display: flex;
  justify-content: center;
}

.definitionResult {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 600px;
  white-space: pre-wrap;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
