.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70vw;
  height: 70vh;
  border: 2px;
  border-color: black;
  background-color: blanchedalmond;
}

.canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /* background-color: blanchedalmond; */
  background-color: rgba(217, 191, 191, 0.5);
}

.test-square {
  border: 1px solid black;
  flex: 1;
}

.test-row {
    display: flex;
    flex: 1;
  }
